.profile__text {
    max-width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 8px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .profile__text {
        width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-bottom: 15px;
    }
}
