.profile__info {
    max-width: 336px;
    margin: 0 auto 0 0;
    width: 100%;
    padding-top: 2px;
}

@media screen and (max-width: 685px) {
    .profile__info {
        max-width: 282px;
        margin: 24px auto 0;
    }
}
