body {
    background-color:#000000;
  }
  
@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__content/page__content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__popup/profile__popup.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__button-plus/profile__button-plus.css);
@import url(./blocks/profile/__edit-avatar/profile__edit-avatar.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__item/element__item.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__button/element__button.css);
@import url(./blocks/element/__button-basket/element__button-basket.css);
@import url(./blocks/element/__like-info/element__likes-info.css);
@import url(./blocks/element/__counter-likes/element__counter-likes.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__logo/footer__logo.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__edit/popup__edit.css);
@import url(./blocks/popup/__title/_type/popup__title_type_avatar.css);
@import url(./blocks/popup/__title/_type/popup__title_type_confirmation.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_type/popup__submit_type_confirmation.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/popup-full/popup-full.css);
@import url(./blocks/popup/__container-full/popup__container-full.css);
@import url(./blocks/popup/__img-full/popup__img-full.css);
@import url(./blocks/popup/__heading-full/popup__heading-full.css);

@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__submit/_disabled/popup__submit_disabled.css);