.footer__logo {
    max-width: 318px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 605px) {
    .footer__logo {
        font-size: 14px;
        line-height: 17px;
    }
}