.popup__submit {
    width: 358px;
    height: 50px;
    background: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 0.3s linear;
    margin-top: 48px;
    border: 0;
    cursor: pointer;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .popup__submit {
        width: 238px;
        height: 46px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
    }
}